# Explore here

In [2]:
# Your code here

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv')

df

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

In [9]:
list(df.columns)

['fips',
 'TOT_POP',
 '0-9',
 '0-9 y/o % of total pop',
 '19-Oct',
 '10-19 y/o % of total pop',
 '20-29',
 '20-29 y/o % of total pop',
 '30-39',
 '30-39 y/o % of total pop',
 '40-49',
 '40-49 y/o % of total pop',
 '50-59',
 '50-59 y/o % of total pop',
 '60-69',
 '60-69 y/o % of total pop',
 '70-79',
 '70-79 y/o % of total pop',
 '80+',
 '80+ y/o % of total pop',
 'White-alone pop',
 '% White-alone',
 'Black-alone pop',
 '% Black-alone',
 'Native American/American Indian-alone pop',
 '% NA/AI-alone',
 'Asian-alone pop',
 '% Asian-alone',
 'Hawaiian/Pacific Islander-alone pop',
 '% Hawaiian/PI-alone',
 'Two or more races pop',
 '% Two or more races',
 'POP_ESTIMATE_2018',
 'N_POP_CHG_2018',
 'GQ_ESTIMATES_2018',
 'R_birth_2018',
 'R_death_2018',
 'R_NATURAL_INC_2018',
 'R_INTERNATIONAL_MIG_2018',
 'R_DOMESTIC_MIG_2018',
 'R_NET_MIG_2018',
 'Less than a high school diploma 2014-18',
 'High school diploma only 2014-18',
 "Some college or associate's degree 2014-18",
 "Bachelor's degree or higher 2014-18",
 'Percent of adults with less than a high school diploma 2014-18',
 'Percent of adults with a high school diploma only 2014-18',
 "Percent of adults completing some college or associate's degree 2014-18",
 "Percent of adults with a bachelor's degree or higher 2014-18",
 'POVALL_2018',
 'PCTPOVALL_2018',
 'PCTPOV017_2018',
 'PCTPOV517_2018',
 'MEDHHINC_2018',
 'CI90LBINC_2018',
 'CI90UBINC_2018',
 'Civilian_labor_force_2018',
 'Employed_2018',
 'Unemployed_2018',
 'Unemployment_rate_2018',
 'Median_Household_Income_2018',
 'Med_HH_Income_Percent_of_State_Total_2018',
 'Active Physicians per 100000 Population 2018 (AAMC)',
 'Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)',
 'Active Primary Care Physicians per 100000 Population 2018 (AAMC)',
 'Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)',
 'Active General Surgeons per 100000 Population 2018 (AAMC)',
 'Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)',
 'Total nurse practitioners (2019)',
 'Total physician assistants (2019)',
 'Total Hospitals (2019)',
 'Internal Medicine Primary Care (2019)',
 'Family Medicine/General Practice Primary Care (2019)',
 'Total Specialist Physicians (2019)',
 'ICU Beds_x',
 'Total Population',
 'Population Aged 60+',
 'Percent of Population Aged 60+',
 'COUNTY_NAME',
 'STATE_NAME',
 'STATE_FIPS',
 'CNTY_FIPS',
 'county_pop2018_18 and older',
 'anycondition_prevalence',
 'anycondition_Lower 95% CI',
 'anycondition_Upper 95% CI',
 'anycondition_number',
 'Obesity_prevalence',
 'Obesity_Lower 95% CI',
 'Obesity_Upper 95% CI',
 'Obesity_number',
 'Heart disease_prevalence',
 'Heart disease_Lower 95% CI',
 'Heart disease_Upper 95% CI',
 'Heart disease_number',
 'COPD_prevalence',
 'COPD_Lower 95% CI',
 'COPD_Upper 95% CI',
 'COPD_number',
 'diabetes_prevalence',
 'diabetes_Lower 95% CI',
 'diabetes_Upper 95% CI',
 'diabetes_number',
 'CKD_prevalence',
 'CKD_Lower 95% CI',
 'CKD_Upper 95% CI',
 'CKD_number',
 'Urban_rural_code']

In [10]:
df['diabetes_prevalence'].head()

0    12.9
1    12.0
2    19.7
3    14.1
4    13.5
Name: diabetes_prevalence, dtype: float64

In [14]:
df.select_dtypes('object').columns.to_list()

['COUNTY_NAME', 'STATE_NAME']

In [18]:
df.drop(['COUNTY_NAME', 'STATE_NAME'],axis=1,inplace=True)

KeyError: "['COUNTY_NAME', 'STATE_NAME'] not found in axis"

In [20]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

X = df.drop('diabetes_prevalence',axis=1)
y = df['diabetes_prevalence']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

scaler = MinMaxScaler()
X_train_esc = scaler.fit_transform(X_train)
X_test_esc = scaler.transform(X_test)


X_train_esc

array([[4.56468023e-01, 2.62601394e-03, 2.66583240e-03, ...,
        4.56521739e-01, 3.23010729e-03, 1.00000000e+00],
       [7.47056686e-01, 5.06440597e-03, 4.36332457e-03, ...,
        3.91304348e-01, 6.10271573e-03, 8.00000000e-01],
       [3.11228198e-01, 3.72977696e-03, 3.24021542e-03, ...,
        2.39130435e-01, 3.65069418e-03, 2.00000000e-01],
       ...,
       [3.82194767e-01, 3.30070071e-03, 3.87336096e-03, ...,
        5.00000000e-01, 4.24792756e-03, 1.00000000e+00],
       [4.56540698e-01, 5.64745884e-04, 2.73949247e-04, ...,
        6.52173913e-01, 9.50526364e-04, 1.00000000e+00],
       [3.29651163e-01, 8.74876180e-04, 9.03784224e-04, ...,
        3.04347826e-01, 8.91644200e-04, 1.00000000e+00]])

In [23]:
X_train_esc = pd.DataFrame(X_train_esc,columns=X_train.columns,index=X_train.index)
X_test_esc = pd.DataFrame(X_test_esc,columns=X_test.columns,index=X_test.index)

X_train_esc.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_Upper 95% CI,COPD_number,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
1292,0.456468,0.002626,0.002666,0.484236,0.002795,0.558117,0.001877,0.316717,0.001876,0.280961,...,0.491620,0.005315,0.381720,0.414141,0.002953,0.441860,0.425,0.456522,0.003230,1.0
2302,0.747057,0.005064,0.004363,0.411625,0.004641,0.481367,0.003299,0.289175,0.003549,0.268121,...,0.407821,0.009422,0.344086,0.378788,0.005676,0.372093,0.350,0.391304,0.006103,0.8
761,0.311228,0.003730,0.003240,0.414798,0.004130,0.581316,0.003983,0.473765,0.002898,0.338200,...,0.346369,0.006416,0.306452,0.323232,0.003872,0.232558,0.225,0.239130,0.003651,0.2
2194,0.710901,0.009094,0.009239,0.485763,0.010205,0.589934,0.007447,0.363781,0.007555,0.387664,...,0.284916,0.013152,0.263441,0.267677,0.008298,0.255814,0.250,0.260870,0.008895,0.4
1241,0.454615,0.013300,0.013820,0.496981,0.014257,0.563664,0.011098,0.370826,0.010642,0.359468,...,0.379888,0.023026,0.333333,0.338384,0.013626,0.348837,0.350,0.347826,0.014666,0.6